<div class="transactions">
	<h1>Transactions</h1>

	<% @transactions.each do |transaction| %>
	<div class="transaction">
		<p>Id: <%=transaction.id%></p>
		<p>Status: <%=transaction.status%></p>
		<p>Method: <%=transaction.method%></p>
		<p>Date: <%=transaction.created_at%></p>

		<p class="attributes"><%transaction.attributes.each_pair do |name, value| %>
  			<%= raw ("<span>#{name.titleize}: #{value || "nil"},</span>")%>
		<%end%></p>

		<%= button_to "approve", withdrawal_approve_path(transaction) %>

		<%= button_to "deny", withdrawal_deny_path(transaction) %>

		<div class="results">
			<%= raw("<h5>No results</h5>") if transaction.results.empty?%>
			<% transaction.results.each do |result| %>

			<div class="result">
				<%= raw("<h5>Results</h5>") if result == transaction.results.first%>
				<p><%= result.id%></p>
				<p><%= result.inspect%></p>
			</div>
			<%end%>
		</div>

	</div>
	<%end%>
</div>